body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #fc1e8a;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9);
    padding: 40px 60px;
}